In [ ]:
%matplotlib inline
from IPython.display import HTML
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Import data

In [ ]:
dataset=pd.read_csv("leaf.csv")
dataset

      1  1.1  0.72694  1.4742  ...  0.016108  0.0052323  0.00027477   1.1756
0     1    2  0.74173  1.5257  ...  0.008119   0.002708    0.000075  0.69659
1     1    3  0.76722  1.5725  ...  0.003289   0.000921    0.000038  0.44348
2     1    4  0.73797  1.4597  ...  0.004271   0.001154    0.000066  0.58785
3     1    5  0.82301  1.7707  ...  0.002051   0.000560    0.000024  0.34214
4     1    6  0.72997  1.4892  ...  0.003414   0.001125    0.000025  0.34068
..   ..  ...      ...     ...  ...       ...        ...         ...      ...
334  36    6  0.37522  1.1417  ...  0.041703   0.013344    0.000820  2.02810
335  36    7  0.28064  1.0849  ...  0.045488   0.012002    0.001515  2.40590
336  36    8  0.35344  1.0329  ...  0.041101   0.016123    0.000453  1.69350
337  36    9  0.59988  1.1427  ...  0.018121   0.006190    0.000265  1.15260
338  36   10  0.47195  1.0901  ...  0.034074   0.013487    0.000329  1.56230

[339 rows x 16 columns]

In [ ]:
Y = dataset.iloc[:, 7]    
Y.head()

0    37.9
1    42.2
2    47.3
3    54.8
4    43.1
Name: Y house price of unit area, dtype: float64

In [ ]:
X = dataset.drop(columns=["No","X1 transaction date","Y house price of unit area"])
X.head()

   X2 house age  ...  X6 longitude
0          32.0  ...     121.54024
1          19.5  ...     121.53951
2          13.3  ...     121.54391
3          13.3  ...     121.54391
4           5.0  ...     121.54245

[5 rows x 5 columns]

Normalize

In [ ]:
X.columns=range(X.shape[1])
X

        0           1   2         3          4
0    32.0    84.87882  10  24.98298  121.54024
1    19.5   306.59470   9  24.98034  121.53951
2    13.3   561.98450   5  24.98746  121.54391
3    13.3   561.98450   5  24.98746  121.54391
4     5.0   390.56840   5  24.97937  121.54245
..    ...         ...  ..       ...        ...
249  18.0  6306.15300   1  24.95743  121.47516
250  39.2   424.71320   7  24.97429  121.53917
251  31.7  1159.45400   0  24.94960  121.53018
252   5.9    90.45606   9  24.97433  121.54310
253  30.4  1735.59500   2  24.96464  121.51623

[254 rows x 5 columns]

In [ ]:
for i in range(1, len(X.columns)):
    X[i-1] = X[i-1]/np.max(X[i-1])
X.head()

          0         1    2         3          4
0  0.730594  0.013270  1.0  0.998736  121.54024
1  0.445205  0.047933  0.9  0.998631  121.53951
2  0.303653  0.087861  0.5  0.998915  121.54391
3  0.303653  0.087861  0.5  0.998915  121.54391
4  0.114155  0.061062  0.5  0.998592  121.54245

In [ ]:
learning_rate = 0.0001
num_iterations = 10

In [ ]:
theta = np.array([0]*len(X.columns))
theta

array([0, 0, 0, 0, 0])

In [ ]:
m = len(dataset)
m

254

In [ ]:
def hypothesis(theta, X):
    return theta*X

In [ ]:
def computeCost(X, y, theta):
    y1 = hypothesis(theta, X)
    y1=np.sum(y1, axis=1) #Sum of the array elements (axis=1)column
    return sum(np.sqrt((y1-y)**2))/(2*len(dataset))

In [ ]:
def gradientDescent(X, y, theta, alpha, i):
    J = []  #cost function in each iterations
    k = 0
    while k < i:        
        y1 = hypothesis(theta, X)
        y1 = np.sum(y1, axis=1)
        for c in range(0, len(X.columns)):
            theta[c] = theta[c] - alpha*(sum((y1-y)*X.iloc[:,c])/len(X))
        j = computeCost(X, y, theta)
        J.append(j)
        k += 1
    return J, j, theta

In [ ]:
X

            0         1    2         3          4
0    0.730594  0.013270  1.0  0.998736  121.54024
1    0.445205  0.047933  0.9  0.998631  121.53951
2    0.303653  0.087861  0.5  0.998915  121.54391
3    0.303653  0.087861  0.5  0.998915  121.54391
4    0.114155  0.061062  0.5  0.998592  121.54245
..        ...       ...  ...       ...        ...
249  0.410959  0.985909  0.1  0.997715  121.47516
250  0.894977  0.066400  0.7  0.998389  121.53917
251  0.723744  0.181270  0.0  0.997402  121.53018
252  0.134703  0.014142  0.9  0.998391  121.54310
253  0.694064  0.271344  0.2  0.998003  121.51623

[254 rows x 5 columns]

In [ ]:
Y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
249    15.0
250    30.0
251    13.8
252    52.7
253    25.9
Name: Y house price of unit area, Length: 254, dtype: float64

In [ ]:
theta

array([0, 0, 0, 0, 0])

In [ ]:
J, j, theta = gradientDescent(X, Y, theta, 0.05, 100)

OverflowError: ignored